.group {
  width: 21.87vw;
  height: 96.38vh;
  background: rgba(250, 250, 255, 0.7);
  border-radius: 0.833vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.image_icon {
  width: 9.66vw;
  height: 9.66vw;
  flex-shrink: 0;
  border-radius: 9.66vw;
  background: url("../Assets/Ellipse\ 13.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  font-size: 1.562vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
  text-align: center;
  line-height: 2.34vw;
}
.subHeading {
  font-size: 1.046vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #f82083cc;
  text-align: center;
  line-height: 1.562vw;
}
.instruction_box {
  width: 18.75vw;

  ul {
    margin: 0;
    padding: 0 0 1.27vw 1vw;
  }
  li {
    font-size: 1.0411vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #00000094;
    line-height: 1.562vw;
    margin-bottom: 1.17vw;
  }
}
