.cinput {
    display: flex;
    font-family: 'Poppins',sans-serif;
    border-radius: 4px;
    border: 1px solid #4a5ef9;
    background: #fff;
    width: 17rem;
    height: 2.64726rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6575rem;
        border-radius: 4px;
        border: 1px solid #4a5ef9;
        background: #fff;

        color: #6764ff;
        text-align: center;
        font-size: .9625rem;
        font-weight: 600;
    }
    .cinput-field {
        border: none;
        outline: none;
        width: 100%;
        text-align: center;
        color: #6764ff;
        letter-spacing: 1vh;
    }
    .cinput-field[type="number"]::-webkit-inner-spin-button,
    .cinput-field[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .cinput-field:focus {
        border: none;

        outline: none;
    }
}
