.AvgCharge{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 27.8vw;
    >div:nth-of-type(1){
        display: flex;
        flex-direction: row;
        align-items: center;
        >h4:nth-of-type(1){
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.474vw;
            height: 1.402vw;
            border-radius: 0.260vw;
            background-color: #6764FF1A;
            color: #6764FF;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
            font-size: 0.9vw;
            margin: 0;
            padding: 0;
        }
        >h4:nth-of-type(2){
            font-family: 'Poppins',sans-serif;
            font-size: 1vw;
            font-weight: 700;
            color: #6764FF;
            margin: 0;
            padding: 0;
            margin-left: 1vh;
        }
        .info_icon{
            font-size: 1.2vw;
            color: #6764FF;
            margin-left: 0.5vh;
        }
    }
    >p:nth-of-type(1){
        font-family: 'Poppins',sans-serif;
            font-size: 0.8vw;
            font-weight: 600;
            color: #6764FF;
            margin: 0;
            padding: 0;
    }
    >span:nth-of-type(1){
        height: 20px;
        width: 1px;
        background-color: #6764FF99;
    }
}
.TuitionFeesGraph_wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 1.8vw;
    width: 46.2;

    >div:nth-of-type(1){
        width: 0.6vw;
        height: 2vw;
        border-radius: 0.41vw 0.41vw 0 0;
             
    }
    >div:nth-of-type(2){
        width: 0.6vw;
        height: 2.2vw;
        margin-left: 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
              
    }
    >div:nth-of-type(3){
        width: 0.6vw;
        height: 3vw;
        margin-left: 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(4){
        width: 0.6vw;
        height: 4vw;
        margin-left: 1.4vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(5){
        width: 0.6vw;
        height: 3.9vw;
        margin-left: 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(6){
        width: 0.6vw;
        height: 4.4vw;
        margin-left: 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(7){
        width: 0.6vw;
        height: 5.2vw;
        margin-left: 1.45vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(8){
        width: 0.6vw;
        height: 4.5vw;
        margin-left: 1.45vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(9){
        width: 0.6vw;
        height: 4.6vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(10){
        width: 0.6vw;
        height: 5.9vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(11){
        width: 0.6vw;
        height: 4vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(12){
        width: 0.6vw;
        height: 5vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(13){
        width: 0.6vw;
        height: 7vw;
        margin-left : 1.4vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(14){
        width: 0.6vw;
        height: 5vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(15){
        width: 0.6vw;
        height: 5.8vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(16){
        width: 0.6vw;
        height: 3vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(17){
        width: 0.6vw;
        height: 5vw;
        margin-left : 1.4vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(18){
        width: 0.6vw;
        height: 4vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(19){
        width: 0.6vw;
        height: 4.5vw;
        margin-left : 1.4vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(20){
        width: 0.6vw;
        height: 3.3vw;
        margin-left : 1.5vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
    >div:nth-of-type(21){
        width: 0.6vw;
        height: 3.3vw;
        margin-left : 1.4vw;
        border-radius: 0.41vw 0.41vw 0 0;
               
    }
}