.checkbox{
 
    margin-right:4.097vw;
    margin-left: -8.45vw;
    width: 1.588vw;
    height: 3.168vh;
    border-radius: 0.26vw;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background: #EC5F701A;
    color: #EC5F70;
    position: absolute;
    font-weight:600;
}