.sidebar {
  width: 10.5vw;
  margin-left: 1.458vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.04vw;
}
.sidebar .sidebar_heading {
  font-family: "Poppins" sans-serif;
  color: #D04E62;
  font-size: 1.041vw;
  font-weight: 500;
  line-height: 1.56vw;
  letter-spacing: 0em;
  text-align: center;
}

.line {
  border: 0.71px solid rgba(103, 100, 255, 0.3019607843);
  width: 75%;
}

.wrapper {
  margin-top: 2.66vw;
  display: flex;
  flex-direction: row;
  gap: 1.083vw;
}

.vertical_line {
  border: 0.71px solid #D04E62;
  height: 27.63vw;
}

.content {
  width: 37.5vw;
  height: 47.59vh;
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  overflow: hidden;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.content .content_wrapper .heading {
  font-family: "Poppins" sans-serif;
  font-size: 1.041vw;
  font-weight: 600;
  line-height: 1.56vw;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(101, 6, 6, 0.8);
}

.button_wrapper {
  width: 100%;
  margin-top: 4vh;
  height: 5.833vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.08vw;
}
.button_wrapper .back {
  width: 6.25vw;
  height: 5.833vh;
  border-radius: 1.041vw;
  border: 3px solid #F82083;
  background-color: white;
  color: #F82083;
  font-family: "Poppins" sans-serif;
  font-size: 1.041vw;
  font-weight: 500;
  line-height: 1.56vw;
  letter-spacing: 0em;
}
.button_wrapper .next {
  width: 13.02vw;
  height: 5.833vh;
  border: 1px solid #F82083;
  background: rgba(248, 32, 131, 0.8);
  border-radius: 0.41vw;
  color: white;
  font-family: "Poppins" sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.875vw;
  letter-spacing: 0em;
  text-align: center;
}
.button_wrapper .skip {
  width: 3.02vw;
  font-family: Poppins;
  font-size: 1.041vw;
  font-weight: 500;
  line-height: 1.56vw;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 1.5vw;
  color: rgba(248, 32, 131, 0.8);
}

.double_thumb {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ddd;
  position: relative;
}
.double_thumb .progress {
  height: 4px;
  border-radius: 5px;
  background-color: #F82083;
}
.double_thumb .range_input {
  position: relative;
}
.double_thumb .range_input input {
  position: absolute;
  top: -5px;
  height: 4px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}
.double_thumb .range_input > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: #F82083; /* Set the background color of the thumb */
  border-radius: 50%; /* Set the border-radius for a circular shape */
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px; /* Adjust the vertical position of the thumb */
}
.double_thumb .thumb1 {
  top: -8.5px;
  width: 100%;
  position: absolute;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.double_thumb .thumb2 {
  background: none;
  top: -8.5px;
  width: 100%;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Graph_Selection {
  width: 35.197vw;
}
.Graph_Selection .Section_9_range_bar_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2vw;
  width: 34vw;
  position: relative;
  /* Style the track */
  /* Style the thumb (slider handle) */
}
.Graph_Selection .Section_9_range_bar_wrapper > input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 4px; /* Set the height to your desired track height */
  background-color: #ddd;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
.Graph_Selection .Section_9_range_bar_wrapper > input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px; /* Set the height to match the input's height */
  background-color: #F82083;
  border-radius: 5px;
}
.Graph_Selection .Section_9_range_bar_wrapper > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: #F82083; /* Set the background color of the thumb */
  border-radius: 50%; /* Set the border-radius for a circular shape */
  cursor: pointer;
  margin-top: -7px; /* Adjust the vertical position of the thumb */
}
.Graph_Selection .Section_9_range_bar_wrapper .arrow_range_bar {
  font-size: 1.562vw;
  color: rgba(248, 32, 131, 0.5019607843);
}

.Start_at {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1.5vw;
  align-items: center;
}
.Start_at > p:nth-of-type(1) {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.8vw;
  color: #F82083;
  font-weight: 400;
}
.Start_at > h4:nth-of-type(1) {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: #F82083;
  font-weight: 700;
}

.Maximum {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: 1.5vw;
  margin-top: -2.5vw;
  width: -moz-fit-content;
  width: fit-content;
}
.Maximum > p:nth-of-type(1) {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.8vw;
  color: #F82083;
  font-weight: 400;
}
.Maximum > h4:nth-of-type(1) {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: #F82083;
  font-weight: 700;
}

.Ask_and_avg {
  display: flex;
  flex-direction: row;
  margin-top: 1.2vw;
  justify-content: space-evenly;
  width: 97%;
}
.Ask_and_avg .Ask_Price {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 13.821vw;
  height: 3.385vw;
  border-radius: 0.52vw;
  border: 2px solid #F82083;
  position: relative;
}
.Ask_and_avg .Ask_Price > h4:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.177vw;
  height: 1.562vw;
  border-radius: 0.26vw;
  background-color: rgba(248, 32, 131, 0.1019607843);
  color: #F82083;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}
.Ask_and_avg .Ask_Price > h4:nth-of-type(2) {
  color: #F82083;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}
.Ask_and_avg .Ask_Price > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.385vw;
  position: absolute;
  width: 3vw;
  border: 1px solid #F82083;
  right: -0.2vh;
  top: -0.2vh;
  border-radius: 0 0.52vw 0.52vw 0;
  color: #F82083;
}
.Ask_and_avg .Avg_Price {
  width: 13.821vw;
  height: 3.385vw;
  border-radius: 0.52vw;
  border: 2px solid #F82083;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Ask_and_avg .Avg_Price > h4:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.177vw;
  height: 1.562vw;
  border-radius: 0.26vw;
  background-color: rgba(248, 32, 131, 0.1019607843);
  color: #F82083;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}
.Ask_and_avg .Avg_Price > h4:nth-of-type(2) {
  color: #F82083;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}
.Ask_and_avg .Avg_Price > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.385vw;
  position: absolute;
  width: 3vw;
  border: 1px solid #F82083;
  right: -0.2vh;
  top: -0.2vh;
  border-radius: 0 0.52vw 0.52vw 0;
  color: #F82083;
}/*# sourceMappingURL=Budget.module.css.map */