.MuiInputBase-root {
    height: 3vw !important;
    color: #787878 !important;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    margin-top: 0.5vh !important;
    text-transform: capitalize !important;
    position: relative;
    width: 16.387vw;
    background-color: #fff;
  }
  .MuiOutlinedInput-notchedOutline {
    border-radius: 0.208vw !important;
    border: 2px solid #EC5F70 !important;
    outline: none !important;
  }
  .MuiOutlinedInput-notchedOutline:focus{
    border: 2px solid #EC5F70 !important;
  }
  .MuiDateCalendar-root{
    border-radius: 0.520vw !important;
    width: 21.875vw !important;
    height: 19.843vw !important;
    border: 2px solid #EC5F70 !important;
    background: rgba(255, 255, 255, 0.90) !important;

    .MuiPickersCalendarHeader-root{
        display: flex !important;
        border-bottom: 2px solid #EC5F70;
        

        justify-content: space-evenly !important;
        
        .MuiPickersCalendarHeader-labelContainer{
            
            position: absolute !important;
            
            
        }
        .MuiPickersArrowSwitcher-root{
           
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            .MuiButtonBase-root{
               color:#EC5F70;
            }
            .MuiPickersArrowSwitcher-spacer{
                width: 30vh !important;
                
            }
        }
        
    }
    
  }
  .MuiButtonBase-root{
  
  }