.Dropdown_Wrapper {
  position: relative;
  // height: 5vw;
}

.dropDown_Input,
.Active_dropDown_Input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 6.019vh;
  width: 16.616vw;
  border-radius: 0.208vw;
  border: 1px solid #6764ff;
  background: #fff;
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-transform: capitalize;
  padding-left: 1vw;
  cursor: pointer;
  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 1vh;
    gap: 1vw;
    height: 80%;
    width: fit-content;
    margin-left: -0.5vw;
    color: #ffff;
    border-radius: 0.5vw;
    background-color: #6764ff;
  }
  .Close_Icon {
    font-size: 1.3vw;
    color: #ffff;
  }
  > h4:nth-of-type(1) {
    margin: 0;
    padding: 0;
    color: rgb(153, 153, 153);
    font-size: 0.833vw;
    font-weight: normal;
  }
}
.Active_dropDown_Input {
  border: 2px solid #6764ff;
}

.Toggle_arrow {
  right: 0.8vw;
  top: 1.8vh;
  font-size: 1.5vw;
  color: rgb(153, 153, 153);
  position: absolute;
  cursor: pointer;
}

.States_List_Wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3vw;
  height: 15Vh;
  overflow-y: scroll;
  width: 100%;
  z-index: 999;
  background-color: #ffff;
  margin-top: 1.8vh
}

.States {
  font-family: 'poppins';
  display: flex;
  align-items: center;
  justify-content: left;
  height: 2.8vw;
  flex-shrink: 0;
  // width: 98%;
  margin-bottom: 0.2vh;
  margin-top: 0.2vh;
  border-radius: 0.5vw;
  background-color: #ffff;
  border: 2px solid #6764ffcc;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.042vw;
  line-height: 2.778vh;
  color: #6764ffcc;
}

.States_List_Wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #eeee;
}

.States_List_Wrapper::-webkit-scrollbar-thumb {
  background-color: #6764ff;
  border-radius: 4px;
}
