.Card_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.625vw;
    height: 3.5vw !important;
    width: 11vw;
    padding: 2vh 2vh;
    background-color: #fff;
  }
  
  .Card_wrapper p {
    color: #6764FF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.041vw; /* Add the unit (vw) to font-size */
    font-style: normal;
    font-weight: 600;
    line-height: 1.302vw; /* 125% */
    margin: 0vh;
    padding:0vh;
    flex-shrink: 0;
  }
  
  .Card_wrapper div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 2.239vw;
    width: 7vw;
    border-radius: 0.520vw;
    background-color: #6764FF;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 1.041vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-left: 1vh;
  }
  