
.PlanCard_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.833vw;
    height: fit-content;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
   
    .Card_background{
         display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
            width: 100%;
            padding-top: 0.7vw;
            padding-bottom: 0.7vw;
            border-radius: 0vw 0.520vw 0.520vw 0.520vw;
            background-color: #ffffff;
            transition: 0.3s;
            //border: 3px solid #F82083;
            box-shadow: 0px 0.208vw 0.208vw 0px rgba(0, 0, 0, 0.25);
            
    }
    .Card_top {
        height: 1.041vw;
        width: 7.812vw;
        border-radius: 10px 10px 0px 0px;
        //background-color: #F82083;
        margin-right: auto;
    }
    //Section 1
    .Class_Subjects_and_price_Div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.2vw;
        width: 19.218vw;
        transition: 0.1s;
        //background-color: #cd7a7a;

        > h4 {
            /* Styles for h4 inside .Class_Subjects_and_price_Div */
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(248, 32, 131, 0.80);
            height: 2.291vw;
            width: 2.291vw;
            border-radius: 2vw;
            background-color: #FFE9F3;
            color: #F94D9C;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 1.562vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-right: auto;
        }
        .class_and_subjects{
            display: flex;
            flex-direction: column;
            width: 52%;
            > div:nth-of-type(1){
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 1.6vw;
            > p:nth-of-type(1){
                color: rgba(0, 0, 0, 0.30);
                font-family: 'Poppins', sans-serif;
                font-size: 0.7vw;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                flex-shrink: 0;
                margin: 0;
                padding: 0;
            }
            > p:nth-of-type(2){
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(0, 0, 0, 0.30);
                font-family: 'Poppins', sans-serif;
                font-size: 0.7vw;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                flex-shrink: 0;
                margin: 0;
                padding: 0;
                height: 85%;
                width: 5.5vw;
                margin-left: 1.2vh;
                border-radius: 0.260vw;
                background: rgba(248, 32, 131, 0.10);
            }
        }
        >h4{
                color: rgba(248, 32, 131, 0.80);
                font-family: 'Poppins', sans-serif;
                font-size: 1.041vw;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                flex-shrink: 0;
                height: 1.6vw;
                margin: 0;
                padding: 0;
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 2.291vw;
            width: 4.6vw;
            border-radius: 5px;
            margin-left: auto;
            background: #F8208399;

            > h4 {
                /* Styles for h4 inside .price */
                color: #FFF;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-size: 1.1vw;
                font-style: normal;
                font-weight: 600;
                line-height:none;
                text-transform: capitalize;
                margin: -0.3vh;
                padding: 0;
            }

            > p {
                /* Styles for p inside .price */
                color: #FFF;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-size: 0.625vw;
                font-style: normal;
                font-weight: 600;
                line-height: none;
                margin: -0.3vh;
                padding: 0;
            }
        }
    }
    // Section 2
    .View_and_Success_rate {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.2vw;
        width: 19.218vw;
        border-radius: 0.5vw;
        transition: 0.3s;

        .Views{
            display: flex;
            flex-direction: row;
            > div:nth-of-type(1){
                display: flex;
                flex-direction: column;
                margin-left: 1vh;
                margin-right: 2vw;
                >p {
                    color: rgba(248, 32, 131, 0.50);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.7vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0;
                    padding: 0;
                }
                >h4 {
                    color: rgba(0, 0, 0, 0.50);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.9vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        >div:nth-of-type(2){
            height: 70%;
            width: 0.2vh;
            background-color: rgba(0, 0, 0, 0.10);;
        }

        .Success_rate{
            display: flex;
            flex-direction: row;
            margin-left: 1.5vw;
            > div:nth-of-type(1){
                display: flex;
                flex-direction: column;
                margin-left: 1vh;
                >p {
                    color: rgba(248, 32, 131, 0.50);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.7vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0;
                    padding: 0;
                }
                >h4 {
                    color: rgba(0, 0, 0, 0.50);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.9vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 0;
                }
            }
        }

    }

    // Section 3
    .Class_occupancy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 3.2vw;
        width: 19.218vw;
        border-radius: 0.5vw;
        background-color:#F8F8F8;
        transition: 0.3s;

        >div {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 65%;
           

            .Class_Occupancy_and_Capacity{
                display: flex;
                flex-direction: row;
                height: 50%;
                width: 100%;
                align-items: center;


                > p:nth-of-type(1){
                    color: rgba(0, 0, 0, 0.20);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.67vw;
                    font-style: normal;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    margin-right: 1vh;
                }
                > span:nth-of-type(1) {
                    height: 60%;
                    width: 0.2vh;
                    background: rgba(0, 0, 0, 0.10);
                    margin-right: 1vh;
                }
                > span:nth-of-type(2){
                    display: flex;
                    flex-direction: row;
                    color: rgba(0, 0, 0, 0.20);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.67vw;
                    font-style: normal;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    > p{
                        color: rgba(0, 0, 0, 0.50);
                        font-family: 'Poppins',sans-serif;
                        font-size: 0.67vw;
                        font-style: normal;
                        font-weight: 600;
                        margin: 0;
                        padding: 0;
                        margin-left: 0.5vh;
                    }
                }
            }
            > .progress_bar{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 50%;
                width: 100%;

                > h4{
                    color: rgba(248, 32, 131, 0.80);
                    font-family: 'Poppins',sans-serif;
                    font-size: 0.9vw;
                    font-style: normal;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    margin-right: 1vh;
                }
                >div {
                    border-radius: 0.5vh;
                    height: 1vh;
                    width: 80%;
                    background-color: #dddddd;
                    position: relative;
                    >div{
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 0.5vh;
                        height: 1vh;
                        background-color: #F82083;
                        position: relative;
                        transition: 0.3s;
                    }
                }
            }
        }

        > button{
            width: 4.687vw;
            height: 2.187vw;
            border-radius: 0.520vw;
            border: 0.105vw solid rgba(248, 32, 131, 0.50);
            color: rgba(248, 32, 131, 0.50);
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 0.8vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left: 0.55vh;
            cursor: pointer;
            z-index: 999;
        }
    }
}

.Shrinked_PlanCard_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.645vw;
    height: 3.645vw;
    transition: 0.3s;
    cursor: pointer;
    
    .Shrinked_Card_background{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 0.520vw 0.520vw 0.520vw 0.520vw;
        background-color: #D2D2D2;
        //border: 1px solid #F82083CC;
        transition: 0.3s;
        box-shadow:none;
        

    }
    .Card_top {
        display: none;
        height: 1.041vw;
        width: 7.812vw;
        border-radius: 10px 10px 0px 0px;
        background-color: #F82083;
        margin-right: auto;
    }
    //Section 1
    .Class_Subjects_and_price_Div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        width: fit-content;
       
        > h4 {
            /* Styles for h4 inside .Class_Subjects_and_price_Div */
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(248, 32, 131, 0.80);
            height: 2.291vw;
            width: 2.291vw;
            border-radius: 2vw;
            background-color: #FFE9F3;
            color: #F94D9C;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 1.562vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-right: auto;
        }
        .class_and_subjects{
            display: none;
        }
        .price {
            display: none;
        }
    }
    // Section 2
    .View_and_Success_rate {
        display: none;
    }

    // Section 3
    .Class_occupancy {
        display: none;
    }
}
