.AvgCharge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 27.8vw;
}

.AvgCharge > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AvgCharge > div:nth-of-type(1) > h4:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.474vw;
  height: 1.402vw;
  border-radius: 0.26vw;
  background-color: rgba(103, 100, 255, 0.1019607843);
  color: #6764FF;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  margin: 0;
  padding: 0;
}

.AvgCharge > div:nth-of-type(1) > h4:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: #FF6DAF;
  margin: 0;
  padding: 0;
  margin-left: 1vh;
}

.AvgCharge > div:nth-of-type(1) .info_icon {
  font-size: 1.2vw;
  color: #FF6DAF;
  margin-left: 0.5vh;
}

.AvgCharge > p:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  color: #FF6DAF;
  margin: 0;
  padding: 0;
}

.AvgCharge > span:nth-of-type(1) {
  height: 20px;
  width: 1px;
  background-color: #FF6DAF;
}

.TuitionFeesGraph_wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 1.8vw;
  width: 30vw;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(1) {
  border: 0.3vw solid #FF6DAF;
  /* border: 0.4px solid #6764FF; */
  height: 2vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(2) {
  border: 0.3vw solid #FF6DAF;
  height: 2.2vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(3) {
  border: 0.3vw solid #FF6DAF;
  height: 3vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(4) {
  border: 0.3vw solid #FF6DAF;
  height: 4vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(5) {
  border: 0.3vw solid #FF6DAF;
  height: 3.9vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(6) {
  border: 0.3vw solid #FF6DAF;
  height: 4.4vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(7) {
  border: 0.3vw solid #FF6DAF;
  height: 5.2vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(8) {
  border: 0.3vw solid #FF6DAF;
  height: 4.5vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(9) {
  border: 0.3vw solid #FF6DAF;
  height: 4.6vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(10) {
  border: 0.3vw solid #FF6DAF;
  height: 5.9vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(11) {
  border: 0.3vw solid #FF6DAF;
  height: 4vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(12) {
  border: 0.3vw solid #FF6DAF;
  height: 5vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(13) {
  border: 0.3vw solid #FF6DAF;
  height: 7vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(14) {
  border: 0.3vw solid #FF6DAF;
  height: 5vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(15) {
  border: 0.3vw solid #FF6DAF;
  height: 5.8vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(16) {
  border: 0.3vw solid #FF6DAF;
  height: 3vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(17) {
  border: 0.3vw solid #FF6DAF;
  height: 5vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(18) {
  border: 0.3vw solid #FF6DAF;
  height: 4vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(19) {
  border: 0.3vw solid #FF6DAF;
  height: 4.5vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(20) {
  border: 0.3vw solid #FF6DAF;
  height: 3.3vw;
  margin-left: 1vw;
  border-radius: 0.41vw 0.41vw 0 0;
}

.TuitionFeesGraph_wrapper > div:nth-of-type(21) {
  width: 0.6vw;
  height: 3.3vw;
  margin-left: 1.4vw;
  border-radius: 0.41vw 0.41vw 0 0;
} /*# sourceMappingURL=TuitionFeesGraph.css.map */